#one{
    text-align: center;
    color: white;
    background-color: black;
    
}
a{
    color: white;
    text-decoration: none;
}
.box{
    height: 30PX;
    color: white;
    background-color:rgb(27, 92, 177);
}
#para{
height: 25px;
    background-color:pink; 
}

